
sudo: false

language: ruby
rvm:
  - 2.5.0

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    - os: osx

before_script:
  - eval "${MATRIX_EVAL}"
  - gem build agoo.gemspec
  - gem install oj
  - gem install agoo-*
  - cd ext/agoo
  - ruby extconf.rb && make clean all
  - cd ../..

script:
  - cd test && ./tests.rb -v
